$font: 'Montserrat';
$white: white;
$black: black;


header{
  padding-top: 15px;
  .container{
    align-items: center;
    justify-content: space-between;
    nav{
      ul{
        align-items: center;
      }
      li{
        margin-left: 40px;
        &:last-of-type{
          margin-left: 50px;     
          background: #7140EB;
          border-radius: 24px;
          padding: 12px 50px;
        }
        &:nth-child(2){
          margin-left: 36px;
        }
        &:nth-child(3){
          margin-left: 28px;
        }
        &:nth-child(4){
          margin-left: 46px;
        }
      }
      a{
        font-family: $font;
        font-size: 18px;
        font-weight: 400;   
        color: #FFFFFF;
      }
    }
  }
  .main-logo{
    max-width: 124px;
    img{
      width: 100%;
    }
  }
}

